

.different{
    color:maroon;
    margin: 2px 0;
}



.img{
    border-radius: 50px ;
    border: 5px solid blue;
    margin: 15px;
    margin-left: 600px;
    
}

.Marquee{
    background-color: #833471; 
    border-radius: 30px;
    border: 5px solid black;

}

.song{
    border-radius: 50px;
    color: #833471;
    margin: 15px;
}

.img2{
    border-radius: 50px;
    border: 5px solid palevioletred;
    margin: 15px;
    margin-left: 600px;
}

.different{
    color: #833471;
    border-radius: 50px;
    margin: 15px;
    margin-left: 600px;  
}


.cost{
    color: #833471;
    border-radius: 50px;
    margin: 15px;
    margin-left: 600px;  
}

.city{
    color: #833471;
    border-radius: 50px;
    margin: 15px;
    margin-left: 600px;
}

.countdown{
    color: #833471;
    border-radius: 50px;
    margin: 15px;
    margin-left: 600px;
}

.city2{
    border-radius: 50px;
    border: 5px solid blue;
    margin: 15px;
    margin-left: 600px;
}

.affect{
    color: #833471;
    border-radius: 50px;
    margin: 15px;
    margin-left: 600px;
}

.ball{
    border-radius: 50px;
    border: 5px solid palevioletred;
    margin: 30px;
    margin-left: 600px;
    margin-top: 100px;
}

.looks{
    color: #833471;
    border-radius: 50px;
    margin: 15px;
    margin-left: 600px;
}

.end{
    color: #833471;
    border-radius: 50px;
    margin: 15px;
    margin-left: 450px;
}


.note{
    background-color: #833471;
    border-radius: 50px;
    border: 5px solid palevioletred;
    
}







